[project]
name = "open-data-reranker"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.115.0",
    "uvicorn[standard]>=0.34.0",
    "transformers>=4.47.1,<5.0.0",
    "torch>=2.5.0",
]
